---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 10px; // change to whatever

  @include breakpoint($medium) {
    font-size: 12px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 14px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 16px; // change to whatever
  }
}

/* Always show hamburger menu and hide normal navigation */
.greedy-nav {
  .visible-links {
    @media (min-width: 64em) {
      display: none !important;
    }
  }
  
  .nav-toggle {
    display: block !important;
  }
}

/* Style the navigation headings */
nav.nav__list ul li span {
  font-weight: bold;
  color: #333;
}

/* Indent the child items */
.nav__list .nav__items .nav__items {
  margin-left: 1.5em;
  font-size: 0.9em;
}